/*Geral*/
* { 
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #666;
    outline: none;
    box-sizing: border-box;    
}

body {
    background-size: cover;
    background-color: #FEDBB2;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

h6 {
    color: #DEB99E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.35);
}

/*Botões*/
button {
    color: whitesmoke;
    background-color: #E8AF94;
    border: 2px solid #E8AF94;
    border-radius: 8px;
    text-shadow: 2px 1px #888;
    height: 1rem;
    width: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 2.5px;
}

button#git, button#in {
    background-color: transparent;
    border: 2px solid transparent;
    width: 2rem;
    font-size: 2rem;
    margin-top: 2.5px;
}

#git i, #in i {
    color: whitesmoke;
    transition: 0.4s;
}

#git:hover i, #in:hover i {
    color: #666;
}

button#cancel-edit-btn {
    width: 4rem;
    font-size: 0.8rem;
    margin-top: 2.5px;
    margin-left: 5px; 
    text-shadow: 0.5px 0.5px #888;
}

button:hover.finish-todo {
    background-color: #abdb9a;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px whitesmoke;
}

button:hover.edit-todo {
    background-color: #86b5c1;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px whitesmoke;
}

button:hover.remove-todo, button:hover#cancel-edit-btn, button:hover#erase-button {
    background-color: #f88080;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px whitesmoke;
}

button:hover#submit-task, button:hover#edit-task {
    background-color: #b9da96;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px whitesmoke;
}

button i {
    color: whitesmoke;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0px 1px #888;
}

button:hover > i {
    color: whitesmoke;
}

input, select {
    height: 40px;
    line-height: 28px;
    padding: 0.25rem 0.5rem;
    width: 100%;
    padding-left: .5rem;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    outline: none;
    background-color: whitesmoke;
    color: #333;
    transition: .3s ease;
}

.hide {
    display:none;
}

/*Todo Header*/
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FED298;
    padding: 1.5rem;;
    border-radius: 30px 60px;
    box-shadow:  12px 12px 50px #777, /*sombra escura*/
                 -10px 0px 0px #DEB99E; /*sombra clara*/
}

h1 {
    display: inline;
}

#atarefa {
    color:white;
    text-shadow: 2px 2px #999;
}

#dot {
    color: #CC9A81;
    letter-spacing: -2px;
}

#do {
    color: #444;
}

#subtitle {
    color:#555;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
}

/*Todo Form*/
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 2px dashed #CC9A81;
}

#todo-form p, #edit-form p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
    border: 2px solid whitesmoke;
    color: #777;
}

/*Todo toolbar*/
#toolbar {
    padding: 1rem;
    border-bottom: 2px dashed #CC9A81;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px dashed #CC9A81;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
    border: 2px solid whitesmoke;
    color: #777;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;    
}

#filter-select {
    flex: 1;
    border: 2px solid whitesmoke;
    color: #777;
}

/*Todo list*/
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px dashed #CC9A81;
    transition: 0.4s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #FEDBB2;
}

.done h3 {
    color: #8888;
    text-decoration: line-through;
    text-decoration-color: #9999;
}