/*mobile*/
@media (max-width: 600px) {
    html {
      overflow-x: hidden;
    }

    .dmode {
        padding: -10px 0 -10px 0;
    }

    body {
        padding: 0 15px 0 25px;
    }

    .contato {
    margin-top: -10px;
    }

    .footer {
    padding-bottom: 10px;
    }
}

/*dark-theme*/
.dark {
    background-color: #263238;
    opacity: 0.8;
}

/*general config*/
* { 
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;    
}

.hide {
    display:none;
}

/*body*/
body {
    background-color: #FEDBB2;
    color: #666;
    transition: 0.3s;
    margin-top: 65px;
}

html {
    overflow-y: hidden;
}

.todo-container {
    background-color: #FED298;
    box-shadow:  8px 6px 20px rgb(109, 109, 109, 0.4),  /*right*/
                -10px 0px 0px #DEB99E;              /*left*/
    border-radius: 30px 60px;
    margin: 50px auto 20px auto;
    max-height: 550px;
    max-width: 500px;
    padding: 15px;
    transition: 0.3s;
}

/*header*/
.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
}

h1 {
    display: inline;
}

#atarefa {
    color:white;
    text-shadow: 1px 1px #777;
}

#dot {
    color: #CC9A81;
    letter-spacing: -2.9px;
}

#do {
    color: #444;
}

#subtitle {
    color:#555;
    font-size: 0.75rem;
    margin-top: -4px;
}

/*inputs, select & forms*/
#todo-form, #edit-form {
    border-bottom: 1px dashed #CC9A81;
    padding: 1rem;
    transition: 0.3s;
}

#todo-form p, #edit-form p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

input, select {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: #666;
    line-height: 28px;
    height: 40px;
    width: 100%;
    padding: 0.25rem 0.5rem;
    outline: none;
    transition: 0.3s ease;
}

input:hover, select:hover {
    border: 2px solid rgb(102, 102, 102, 0.5);
}

::placeholder {
    opacity: 0.6;
}

/*toolbar (search & filter)*/
#toolbar {
    border-bottom: 1px dashed #CC9A81;
    display: flex;
    padding: 1rem;
    transition: 0.3s;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search form {
    display: flex;
}

#search {
    border-right: 1px dashed #CC9A81;
    display: flex;
    width: 80%;
    margin-right: 1rem;
    padding-right: 1rem;
    flex-direction: column;
}

#search input {
    margin-right: 0.3rem;
}

#filter {
    width: 30%;
    display: flex;
    flex-direction: column;    
}

#filter-select {
    color: rgb(102, 102, 102, 0.6);
    flex: 1;
}

/*to do area*/
#todo-list {
    max-height: 200px;
    overflow-y: scroll;
}

#height-adjust {
    padding: 0px 0px 55px 5px;
}

#todo-list::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

#todo-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

#todo-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

#todo-list::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.3);
}

#todo-list::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}

.todo {
    align-items: center;
    border-bottom: 1px dashed #CC9A81;
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #FEDBB2;
    transition: 0.3s;
}

.done h3 {
    opacity: 0.5;
    text-decoration: line-through;
    transition: 0.6s;
}

/*buttons*/
button.finish-todo, button.edit-todo, button.remove-todo, button#submit-task, button#edit-task, button#cancel-edit-btn, button#erase-button {
    background-color: #E8AF94;
    border: 2px solid #E8AF94;
    border-radius: 8px;
    text-shadow: 1px 1px rgb(136, 136, 136, 0.6);
    cursor: pointer;
    display: flex;
    height: 1rem;
    width: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    margin-top: 2.5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

button#cancel-edit-btn {
    background-color: #E8AF94;
    border: 2px solid #E8AF94;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    height: 1rem;
    width: 4rem;
    padding: 1rem;
    font-size: 0.8rem;
    margin-top: 2.5px;
    margin-left: 5px; 
    text-shadow: 1px 1px #888;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

button i {
    color: whitesmoke;
    pointer-events: none;
}

button:hover.finish-todo {
    background-color: #abdb9a;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

button:hover.edit-todo {
    background-color: #86b5c1;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

button:hover.remove-todo, button:hover#cancel-edit-btn, button:hover#erase-button {
    background-color: #f88080;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

button:hover#submit-task, button:hover#edit-task {
    background-color: #b9da96;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

/*footer*/
.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

button#git, button#in {
    background-color: transparent;
    border: 2px solid transparent;
    color: whitesmoke;
    width: 2.4rem;
    font-size: 2.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px rgb(136, 136, 136, 0.25);
}

#git i, #in i, h6.footer {
    color: #DEB99E;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#git:hover i, #in:hover i {
    color: #666;
}

h6.footer {
    display: flex;
}

/*dark mode toggle wrapper*/
.dmode {
    position: relative;
    top: -2rem;
}

.toggleWrapper {
    position: absolute;
    left: 50%;
    top: 5%;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -55%, 0);
    color: white;
}
  
.toggleWrapper input {
    position: absolute;
    left: -99em;
}
  
.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 55px;
    height: 30px;
    background-color: #a1d8f2;
    border-radius: 84px;
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
     
.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 4px;
    left: 3px;
    width: 22px;
    height: 22px;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}
  
.toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}
  
.toggle__handler .crater--1 {
    top: 5px;
    left: 14px;
    width: 4px;
    height: 4px;
}
  
.toggle__handler .crater--2 {
    top: 14px;
    left: 10px;
    width: 3px;
    height: 3px;
}
  
.toggle__handler .crater--3 {
    top: 8px;
    left: 4px;
    width: 2px;
    height: 2px;
}
  
.star {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.8);
    transition: all 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
    border-radius: 50%;
}
  
.star--1 {
    top: 8px;
    left: 24px;
    z-index: 0;
    width: 14px;
    height: 1.7px;
}
  
.star--2 {
    top: 14px;
    left: 16px;
    z-index: 1;
    width: 17px;
    height: 2px;
}
  
.star--3 {
    top: 18px;
    left: 26px;
    z-index: 0;
    width: 18px;
    height: 2px;
}
  
.star--4, .star--5, .star--6 {
    opacity: 0;
    transition: all 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
  
.star--4 {
    top: 16px;
    left: 26px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}
  
.star--5 {
    top: 7px;
    left: 25px;
    z-index: 0;
    width: 1.5px;
    height: 1.5px;
    transform: translate3d(3px, 0, 0);
}
  
.star--6 {
    top: 24px;
    left: 18px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}
  
input:checked + .toggle {
    background-color: #436390;
}
  
input:checked + .toggle:before {
    color: #749ed7;
}
  
input:checked + .toggle:after {
    color: #fff;
}
  
input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(28px, 0, 0) rotate(0);
}
  
input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
}
  
input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
    transform: translate3d(-5px, 0, 0);
}
  
input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}
  
input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-21px, 0, 0);
}
  
input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
  
input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
  
input:checked + .toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
  
input:checked + .toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}